<div class="container" style="margin-top: 10px;">
  <div class="row">
    <div class="col-sm-3">
      <h3 style="text-align: left; color: #A50F2D;">Find Pet Love</h3>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <input #searchInput class="form-control"
            style="background-color: #A50F2D;color: white;"
             type="text" placeholder="Search"
              (keyup)="onSearchKeyPress()">
              <button class="input-group-addon"
              style="background-color: #A50F2D">
                <i class="fa fa-search"></i>
                </button>
            </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>

<app-search></app-search>
<br>
<div *ngIf="showloadingImage" class="col-md-4 offset-md-4 ">
  <img src="./assets/image/loader2.gif" class="showLoadImage pull-right" alt="" height="80" width="80">
</div>
<ng-template #elseBlock>
  <div class="col-md-4 offset-md-4 ">
    <p id="noDataPresent">No Pet Found </p>
  </div>
</ng-template>
<div class="container" *ngIf="!dataHasOrNot; else elseBlock">
  <div class="row">
    <div class="offset-sm-2 col-sm-8" id="infinite-scroller" appInfiniteScroller scrollPerecnt="70" immediateCallback="true"
      [scrollCallback]="scrollCallback">
      <div class="card" *ngFor="let findPetLove of findPetLoveList">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3 petImage">
              <img class="pointerCursor rounded-circle" (click)="onDetailsClick(findPetLove.PetId)" src="{{findPetLove.PictrueName}}" alt="Card image"
                height="100" width="100">
            </div>
            <div class="col-sm-6 petDetails">
              <label class="bold">Name:</label>
              <label class="bold" 
              style="cursor: pointer;"
              (click)="onDetailsClick(findPetLove.PetId)">{{findPetLove.PetName}}</label>
              <br>
              <label>Breed:</label>
              <label>{{findPetLove.BreedName}}</label>
              <br>
              <label>Age:</label>
              <label>{{findPetLove.PetDob}}</label>
              <br>
              <label>City:</label>
              <label>{{findPetLove.CityName}}</label>
              <br>
              <label>AreaName:</label>
              <label>{{findPetLove.AreaName}}</label>
            </div>
            <div class="col-sm-3 petContact">
              <label>Contact</label>
              <img class="pointerCursor" data-toggle="modal" data-target="#FindPetLoveRequestModal" 
              (click)="onContactClick(findPetLove.PetId)"
              src="./assets/image/Request.png" alt="" height="40" width="40">


            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
          <!-- The Find Pet Modal -->
          <div class="modal fade" id="FindPetLoveRequestModal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Find Pet Love Request</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    <h5>Are you sure you want to send love request</h5>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" (click)="onRequestClick()">Send</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>

    </div>
  </div>
</div>
