<app-search></app-search>
<section class="list mt-4">
  <div class="container ">
    <div class="row">
      <div class="bg-default  col-sm-12">
        <div class="row" style="border: 1px solid #f7f7f7">
          <div class="list-image col-sm-6">
            <img src="../../assets/image/cat.jpeg"class="rounded-circle" alt="" style="height: 200px;width: 200px;"/>
          </div>
          <div class="col-sm-6">

            <table class="tableDescription">
              <tr>
                <td>Name:</td><td>Labrador</td>
              </tr>
              <tr><td>City:Pune,</td><td>AreaName:Dighori</td></tr>
              <tr><td align="right">Contact</td><td><img src="../../assets/image/Adoption.png"class="rounded-circle adoption-footer" alt=""/></td></tr>
            </table>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
