<div class="container" style="margin-top: 30px;background-color: white">
  <div class="row">
    <div class="col-sm-12">
      <br>
      <div class="alert alert-success">
        <strong>
          <a routerLink="/allied-service">allied-service</a>/allied-service-details</strong>
      </div>
    </div>
  </div>

  <br>
  <div *ngIf="showloadingImage" class="col-md-4 offset-md-4 ">
    <img src="./assets/image/loader2.gif" class="showLoadImage pull-right" alt="" height="80" width="80">
   </div>
   
   <div class="row">
      <div class="offset-sm-3 col-sm-6">
        <img src="{{pet.PictrueName}}" alt="Pet image" height="300" width="100%">
        <h4 style="background-color: honeydew;padding-bottom:7px;">{{pet.PetName}}</h4>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td style="color: #A50F2D;">Pet Type</td>
              <td> </td>
              <td>{{pet.PetType}}</td>
            </tr>
            <tr>
              <td style="color: #A50F2D;">Description</td>
              <td> </td>
              <td>{{pet.Description}}</td>
            </tr>
            <tr>
              <td style="color: #A50F2D;">Breed</td>
              <td> </td>
              <td>{{pet.BreedName}}</td>
            </tr>
            <tr>
              <td style="color: #A50F2D;">Date of birth</td>
              <td> </td>
              <td>{{pet.PetDob}}</td>
            </tr>
            <tr>
              <td style="color: #A50F2D;">Gender</td>
              <td> </td>
              <td>{{pet.PetGender}}</td>
            </tr>
            <tr>
                <td style="color: #A50F2D;">Color</td>
                <td> </td>
                <td>{{pet.Colors}}</td>
              </tr>
              <tr>
                  <td style="color: #A50F2D;">City</td>
                  <td> </td>
                  <td>{{pet.CityName}}</td>
                </tr>
                <tr>
                    <td style="color: #A50F2D;">Area Name</td>
                    <td> </td>
                    <td>{{pet.AreaName}}</td>
                  </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-3">
      </div>
    </div>

  <div class="row">
      <div class="col-sm-12">
        <br>
        <div class="alert alert-success" style="text-align: center;background-color:#A50F2D;">
          <img class="pointerCursor" 
           data-toggle="modal" data-target="#AlliedRequestModal"
             src="./assets/image/Request.png" alt="" height="40" width="40">
  
                  <!-- The Allied Modal -->
                  <div class="modal fade" id="AlliedRequestModal">
                      <div class="modal-dialog">
                        <div class="modal-content">
      
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Allied Request</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
      
                          <!-- Modal body -->
                          <div class="modal-body">
                            <h5>Are you sure you want to contact this vendor</h5>
                          </div>
      
                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal" (click)="onRequestClick(pet.PetId)">Send</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                          </div>
      
                        </div>
                      </div>
                    </div>
                
            
        </div>
      </div>
    </div>
</div>
