<div class="container" style="margin-top: 30px;background-color: white">
  <div class="row">
    <div class="col-sm-12">
      <br>
      <div class="alert alert-success">
        <strong>
          <a routerLink="/own-a-pet">own-a-pet</a>/own-a-pet-details</strong>
      </div>
    </div>
  </div>
  
  <br>
  <div *ngIf="showloadingImage" class="col-md-4 offset-md-4 ">
    <img src="./assets/image/loader2.gif" class="showLoadImage pull-right" alt="" height="80" width="80">
  </div>

  <div class="row">
    <div class="offset-sm-4 col-sm-4">
      <img class="img-thumbnail" src="{{pet.PictrueName}}" alt="Card image" height="400" width="400">

      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>Name:</td>
            <td>{{pet.PetName}}</td>
          </tr>
          <tr>
            <td>Breed:</td>
            <td>{{pet.BreedName}}</td>
          </tr>
          <tr>
            <td>Age:</td>
            <td>{{pet.PetDob}}</td>
          </tr>
          <tr>
            <td>City:</td>
            <td>{{pet.CityName}}</td>
          </tr>
          <tr>
            <td>AreaName:</td>
            <td>{{pet.AreaName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <br>
      <div class="alert alert-success" style="text-align: center;">
        <img class="pointerCursor" 
         data-toggle="modal" data-target="#ownpetRequestModal"
           src="./assets/image/Request.png" alt="" height="40" width="40">

         <!-- The Own Pet Modal -->
         <div class="modal fade" id="ownpetRequestModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Own a Pet Request</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <h5>Are you sure you want to contact this vendor</h5>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" (click)="onRequestClick(pet.PetId)">Send</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
