<div class="container" style="margin-top: 10px;">
  <div class="row">
    <div class="col-sm-3">
      <h3 style="text-align: left; color: #A50F2D;">Adoption</h3>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <input #searchInput class="form-control"
            style="background-color: #A50F2D;color: white;"
             type="text" placeholder="Search"
              (keyup)="onSearchKeyPress()">
              <button class="input-group-addon"
              style="background-color: #A50F2D">
                <i class="fa fa-search"></i>
                </button>
            </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>


<app-search></app-search>
  <br>
   <div *ngIf="showloadingImage" class="col-md-4 offset-md-4 ">
    <img src="./assets/image/loader2.gif" class="showLoadImage pull-right" alt="" height="80" width="80">
   </div>
   <ng-template #Block>
   <div class="col-md-4 offset-md-4 ">
     <p id="noDataPresent">No Pet Found </p>
   </div>
     </ng-template>
  <div class="container" *ngIf="!dataHasOrNot; else Block">
    <div class="row">
      <div class="offset-sm-2 col-sm-8"
      id="infinite-scroller"
      appInfiniteScroller
      scrollPerecnt="70"
      immediateCallback="true"
      [scrollCallback]="scrollCallback">
        <div class="card" *ngFor="let adoption of adoptionList">
          <div class="card-body">
              <div class="row">
                  <div class="col-sm-3 petImage">
                    <img class="pointerCursor rounded-circle" (click)="onDetailsClick(adoption.PetId)" src="{{adoption.PictrueName}}" alt="Card image" height="100" width="100">
                  </div>
                  <div class="col-sm-6 petDetails">
                   <label class="bold">Name:</label> 
                   <label class="bold" 
                   style="cursor: pointer;"
                   (click)="onDetailsClick(adoption.PetId)">{{adoption.PetName}}</label>
                   <br>
                   <label>Breed:</label> <label>{{adoption.BreedName}}</label>
                   <br>
                   <label>Age:</label> <label>{{adoption.PetDob}}</label>
                   <br>
                   <label>City:</label> <label>{{adoption.CityName}}</label>
                   <br>
                   <label>AreaName:</label> <label>{{adoption.AreaName}}</label>
                  <br>
                  <label>Description:</label> <label>{{adoption.Description}}</label>
                  </div>
                  <div class="col-sm-3 petContact">
                      <label>Contact</label>
                      <img class="pointerCursor" data-toggle="modal" data-target="#AdoptionRequestModal"  src="./assets/image/Adoption.png" alt="" height="40" width="40">

                      <!-- The Adoption Modal -->
                      <div class="modal fade" id="AdoptionRequestModal">
                        <div class="modal-dialog">
                          <div class="modal-content">
        
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Adoption Request</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
        
                            <!-- Modal body -->
                            <div class="modal-body">
                              <h5>Are you sure you wanr to adopt this pet?</h5>
                            </div>
        
                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-info" data-dismiss="modal" (click)="onRequestClick(adoption.PetId)">Send</button>
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
        
                          </div>
                        </div>
                      </div>
                  
                  
                  
                    </div>
                </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>