<img src="https://i.pinimg.com/originals/f2/e2/5f/f2e25fa89ad3e970aeb994db60a81303.jpg" alt="" width="100%">
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card pointerCursor" routerLink="/own-a-pet">
        <img class="card-img-top" src="./assets/image/icons-buy.png" alt="Card image" height="150">
        <div class="card-body">
          <h4 class="card-title center titleColor">Own a Pet</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card pointerCursor" routerLink="/find-pet-love">
        <img class="card-img-top" src="./assets/image/Adoption.png" alt="Card image" height="150">
        <div class="card-body">
          <h4 class="card-title center titleColor">Find Pet Love</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card pointerCursor" routerLink="/allied-service">
        <img class="card-img-top" src="./assets/image/Adoption.png" alt="Card image" height="150">
        <div class="card-body">
          <h4 class="card-title center titleColor">Allied Services</h4>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="card pointerCursor" routerLink="/adoption">
        <img class="card-img-top" src="./assets/image/AdoptionResults.png" alt="Card image" height="150">
        <div class="card-body">
          <h4 class="card-title center titleColor">Adoption</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
     
    </div>
    <div class="col-sm-4">

    </div>
  </div>
  <br>
</div>
<br>
<app-footer></app-footer>
